// COLOR VARIABLES
$color-primary: rgba(228, 63, 63, 0.8);
$color-primary-dark: #7e1515;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-dark: #222;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// Padding
$pd-1: 1rem 0rem;
$pd-2: 2rem 0rem;
$pd-3: 3rem 0rem;

// Margin
$mg-1: 1rem 0rem;
$mg-2: 2rem 0rem;
$mg-3: 3rem 0rem;
