.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 4rem;
  background-color: #fff;
  padding: 1rem 2rem 0rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;

  .logo-image {
    width: 7rem;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation__item {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .current {
    color: $color-primary;
  }

  .navigation__link {
    padding: 1rem 2rem;

    &:hover {
      color: $color-primary;
    }
  }

  .social-media {
    img {
      height: 25px;
      width: 25px;
    }
  }
}
