.hero {
  display: flex;
  align-items: center;

  &__image {
    background: url("/dist/static/hero-4.jpg");
    transform: rotateY(180deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: -50px;
    height: 80vh;
    width: 70vw;
    width: 100vw;
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    // clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }

  &__text {
    display: none;
    background-color: $color-grey-light-1;
    background: linear-gradient(
      to right bottom,
      rgba(238, 238, 238, 0.678),
      rgba(238, 238, 238, 0.678)
    );
    // color: #333;
    padding: 4rem;
    width: 50rem;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 55%;
    z-index: 1;

    &-heading {
      font-size: 4rem;
    }

    &-para {
      font-size: 2rem;
    }
  }
}
