.slider {
  position: relative;
  max-width: 60rem;
  height: 50rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slide > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide > video {
  height: 100%;
  // width: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(34, 34, 34, 0.7);
  font-family: inherit;
  color: #f3f3f3;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}
